# Modern browsers - reduces bundle size and build time
> 0.5%
last 2 versions
not dead
not IE 11
not op_mini all
not android < 5
not ios < 12
not chrome < 88
not firefox < 86
not safari < 14
not edge < 88